<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		
		<AnalogueModel type="BreakpointPathlossModel">
			<parameter name="carrierFrequency" type="double" value="5.890e+9"/>
			<parameter name="alpha1" type="double" value="2"/>
			<parameter name="alpha2" type="double" value="4"/>
			<parameter name="breakpointDistance" type="double" value="120.0"/>
			<parameter name="L01" type="double" value="47.8588"/>
			<parameter name="L02" type="double" value="47.8588"/>
			<parameter name="debug" type="bool" value="1"/>
		</AnalogueModel>
				
		<!--
		
		<AnalogueModel type="TwoRayInterferenceModel">
			<parameter name="DielectricConstant" type="double" value="1.02"/>
		</AnalogueModel> 
		
		<AnalogueModel type="SimplePathlossModel">
	    	<parameter name="alpha" type="double" value="2.0"/>
	    	<parameter name="carrierFrequency" type="double" value="5.90e+9"/>
	    </AnalogueModel> 
	    
	    -->
		
		<AnalogueModel type="SimpleObstacleShadowing">
			<parameter name="carrierFrequency" type="double" value="5.890e+9"/>
		</AnalogueModel>
	</AnalogueModels>
	
	<Decider type="Decider80211p">
		<!-- The center frequency on which the phy listens-->
		<parameter name="centerFrequency" type="double" value="5.890e9"/>
	</Decider>
</root>

